body {
  margin: 0;
  padding: 0;
  background-color: #f7f9fa;
}
.block-task {
  width: 1130px;
  font-family: 'Inter', sans-serif;
  margin: 80px auto 0;
  padding: 0 50px;
}
.title-posts {
  width: 1130px;
  display: flex;
  justify-content: space-between;
  padding: 0 0 19px;
}
.link {
  font-size: 17px;
  line-height: 27px;
  display: block;
  margin: 20px 32px 0 0;
  color: #0070a0;
  text-decoration: none;
}
.title {
  font-size: 42px;
  line-height: 50px;
  font-weight: 400;
  margin: 0;
  font-family: 'Fraunces', sans-serif;
  color: #1f1f1f;
}
.cards {
  width: 1130px;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.block-info {
  padding: 24px;
  background-color: #fff;
}
.promo {
  width: 85px;
  padding: 3px 18px;
  margin: 0 0 8px;
  background-color: #e6f7ff;
  font-size: 12px;
  line-height: 16px;
  color: #2c90c9;
}
.card-title {
  font-weight: 400;
  margin: 0 0 11px;
  font-size: 25px;
  line-height: 31px;
  font-family: 'Fraunces', sans-serif;
}
.info {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
.date {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 20px;
}
